h1,
h4 {
  /*color: rgb(137, 224, 220);*/
  margin: 3px 10px;
  font-family: PT Serif, serif;
  font-weight: bold;
}

.row {
  margin-bottom: 30px;
}

body {
  background-image: url("storefrontsColorizedTextureBlueNeon.jpg");
}

Badge {
  margin-top: 40px;
}

.form-control::-webkit-input-placeholder {
  font-size: 80%;
}
